.electronicCardItem {
  
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #EBE7FF;
    border-radius: 5px;
    width: 540px;
    height: 183px;
    display: flex;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 0px 2px #50CAFF;

    }

    &:hover > .electronicCardItem_infoWrapper > .electronicCardItem_title {
        &::after {
            border: 2px solid #50CAFF;
                }       
    } 
    &:hover > .electronicCardItem_imageWrapper  {
        background: #50CAFF;      
    } 

    &:hover > .electronicCardItem_infoWrapper >  .electronicCardItem_descr > ul > li::marker {
        color:#50CAFF;
    } 

    &_imageWrapper {
        min-width: 133px;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }

    &_infoWrapper {
        width: 100%;
        padding: 20px 36px;
    }

    &_title {
        font-weight: 400;
        font-size: 27px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            border: 2px solid #EBE7FF;
            width: 100%;
            bottom: -10px;
            left: 0;
        }
    }

    &_descr {
        margin-top: 30px;
    }

    &_descr {
        ul {
            list-style-type: disc ;
            padding-left: 17px;
        }
    
    }
}